{% extends 'base.html.twig' %}

{% block title %}Event New{% endblock %}

{% block body %}
    <div class="container-fluid">

        <h1 class="jumbotron">Event creation</h1>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-offset-1 col-lg-11">
                {{ form_widget(form) }}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-offset-1 col-lg-11">
                <ul>
                    <li>
                        <a href="{{ path('event_index') }}" class="btn btn-default">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Retour à la liste
                        </a>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-primary"/>
                        <i class="glyphicon glyphicon-ok"></i>
                        Ajouter
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        {{ form_end(form) }}


    </div>
{% endblock %}
